
/* 主体 */
*{
    margin: 0;
    padding: 0;

}
.box{
    width: 390px;
    height: 844px;
    margin: 0 auto;
	box-shadow: 0 0 10px #d0d0d0;
}

#hyl-login-body{
	width: 100%;
	overflow: hidden;
	margin:0 auto;
}

/* 主体右侧 */
#hyl-login-body-right{
	/* float:right; */
    
	width:80%;
	height:auto;
	overflow: hidden;
	margin:100px auto;
}
#hyl-login-top{
	width:50%;
	height:25px;
	margin:20px 0;
}
#hyl-top-left{
	width:auto;
	margin-top: 50px;
    margin-left: 15px;
	height:25px;
	font-size: 25px;
	font-family: "黑体";
	
}


.hyl-select-box{
	width:100%;
	height:55px;
    margin-left: 30px;
    
	
}
.hyl-select{
    width: 50%;
    height:55px;
    margin-left:-20px;
    float:left;/* 盒子靠左 */
    text-align:center;/* 文字 */
    border:1px solid #FF3F29; 
    left:0px;
     margin-top: 0px; 
    /*  border-left:1px  solid #666; *//* 盒子左边框 */
    line-height:55PX;/* 行高 */
    color:black;
    /* position: relative; *//* 父元素的相对定位 */
    font-size: 18px;
    font-weight: 10px;
    background: white;

}

.hyl-tsa,.hyl-tsb,.hyl-tsa1,.hyl-tsb1,.hyl-tsb2{
	width:auto;
	height:30px;
	padding:0 10px;
	color:black;
	line-height: 30px;
	box-sizing:border-box;
	font-size: 13px;
	display: none;
    z-index: 10;
    margin-right: 100px;
}
.hyl-tsa,.hyl-tsa1{
	position: absolute;
	right:20px;
	top:15px;
}
.hyl-tsb,.hyl-tsb1,.hyl-tsb2{
	position:absolute;
	right:30px;
	top:80px;
}
.hyl-selects{
	width:400px;
	height:auto;
	box-sizing:border-box;
	border-top: 0;
	overflow: hidden;
	padding-top: 20px;
	position:relative;
}
input{
	display: block;
	width:70%;
	height:45px;
	margin:20px 15px;
	box-sizing:border-box;
	padding-left: 20px;
	color:#999;
	border:1px solid #FF3F29;
    outline: none;
}
.hyl-passfind{
	color:white;
	width:360px;
	height:12px;
	maring:0 auto;
	font-size: 12px;
	text-align: right;
}
.hyl-btn{
	background: #FF3F29;
	color:#fff;
	font-size: 25px;
	border:0;
	margin:10px auto 30px;
}
.hyl-link-box{
	width:400px;
	height:auto;
	border:1px solid #ccc;
	border-top: 0;
	padding:10px auto;
	overflow: hidden;
	box-sizing:border-box;
}

.hyl-link-title{
	width:360px;
	height:14px;
	font-size: 14px;
	text-align: left;
	font-family: "黑体";
	color:#999;
	font-weight: bold;
	margin:30px auto 15px;
}
.hyl-link{
	width:355px;
	height:33px;
	background-image: url(../img/logos.jpg);
	margin:10px auto 30px;
}
.hyl-yan-input{
	float:left;
	margin:5px 3px 20px 15px;
	width:150px;
}
.hyl-yan{
	width:135px;
	height:45px;
	background:#ec8377;
	float: left;
	margin-top:5px;
	text-align: center;
	line-height: 45px;
	color:white;
	font-size: 28px;
	font-style: italic;
	text-decoration:line-through; 

}
.hyl-yan-ts{
	float:left;
	font-size: 10px;
	margin-top:-20px;
    margin-left: 220px;
	color:black;
}
